Series 공부

In [1]:
import pandas as pd

In [3]:
stock_data = pd.read_csv('stock.adj_close.csv',index_col = 0)
stock_data

,2018-06-01,2018-06-04,2018-06-05,2018-06-07,2018-06-08,2018-06-11,2018-06-12,2018-06-14,2018-06-15,2018-06-18,...,2020-09-07,2020-09-08,2020-09-09,2020-09-10,2020-09-11,2020-09-14,2020-09-15,2020-09-16,2020-09-17,2020-09-18
Symbol,,,,,,,,,,,,,,,,,,,,,
A000020,11550.0,11750.0,11700.0,11650.0,11500.0,11500.0,11650.0,12000.0,11800.0,11450.0,...,25550.0,23650.0,24550.0,25950.0,26750.0,26300.0,25400.0,25050.0,25300.0,25050.0
A000030,15500.0,15950.0,16050.0,16500.0,16600.0,16650.0,16850.0,16500.0,16100.0,16350.0,...,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0,14800.0
A000040,2992.0,3021.0,3025.0,3069.0,3045.0,2984.0,2976.0,3033.0,3033.0,3017.0,...,980.0,932.0,741.0,875.0,840.0,860.0,833.0,817.0,812.0,796.0
A000050,13200.0,13550.0,13600.0,13800.0,13800.0,13800.0,13650.0,13850.0,14500.0,14550.0,...,11100.0,11350.0,11550.0,11500.0,11550.0,11300.0,11300.0,11050.0,10900.0,10750.0
A000060,20050.0,20050.0,20150.0,20050.0,20400.0,20150.0,20700.0,20950.0,20150.0,20900.0,...,12700.0,12700.0,12650.0,12700.0,12800.0,13000.0,13200.0,13150.0,13150.0,13200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A950160,38600.0,36400.0,36350.0,38700.0,40200.0,39250.0,38300.0,38350.0,39000.0,37600.0,...,9540.0,9540.0,9540.0,9540.0,9540.0,9540.0,9540.0,9540.0,8010.0,8010.0
A950170,13850.0,14250.0,14450.0,14300.0,14150.0,13650.0,14050.0,13600.0,13550.0,11900.0,...,4040.0,4050.0,4245.0,4275.0,4200.0,4195.0,4070.0,4045.0,4015.0,4055.0
A950180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13200.0,13150.0,13100.0,13150.0,13100.0,13900.0,13250.0,13350.0,13550.0,13450.0
A950190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32200.0,31200.0,30400.0,30500.0,30150.0,30050.0,31450.0,31750.0,31200.0,30350.0
A950200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16750.0,16950.0,17250.0,17100.0,17350.0,17450.0,15800.0,15100.0,14700.0,14550.0

In [6]:
my_series = stock_data.loc['A005930']['2020-09-09':]
my_series

2020-09-09    58400.0
2020-09-10    59200.0
2020-09-11    59000.0
2020-09-14    60400.0
2020-09-15    61000.0
2020-09-16    61000.0
2020-09-17    59500.0
2020-09-18    59300.0
Name: A005930, dtype: float64

In [7]:
my_series.index

Index(['2020-09-09', '2020-09-10', '2020-09-11', '2020-09-14', '2020-09-15',
       '2020-09-16', '2020-09-17', '2020-09-18'],
      dtype='object')

In [8]:
type(my_series)

pandas.core.series.Series

Series 접근 연산 생성

In [9]:
my_series.loc['2020-09-15']

61000.0

In [10]:
my_series.loc['2020-09-18']

59300.0

In [14]:
my_series.iloc[7]

59300.0

In [15]:
my_series.iloc[4]

61000.0

In [16]:
my_series.loc['2020-09-15':'2020-09-18']

2020-09-15    61000.0
2020-09-16    61000.0
2020-09-17    59500.0
2020-09-18    59300.0
Name: A005930, dtype: float64

In [19]:
my_series.iloc[4:7]

2020-09-15    61000.0
2020-09-16    61000.0
2020-09-17    59500.0
Name: A005930, dtype: float64

In [20]:
my_series.iloc[4:7:2]

2020-09-15    61000.0
2020-09-17    59500.0
Name: A005930, dtype: float64

In [24]:
my_series.iloc[4:] + my_series.iloc[4:]

2020-09-15    122000.0
2020-09-16    122000.0
2020-09-17    119000.0
2020-09-18    118600.0
Name: A005930, dtype: float64

In [26]:
my_series.loc['2020-09-15'::2] + 300000

2020-09-15    361000.0
2020-09-17    359500.0
Name: A005930, dtype: float64

In [27]:
my_series.iloc[4:].mean()

60200.0

In [28]:
my_series.loc['2020-09-15':].mean()

60200.0

In [29]:
new_sr = pd.Series([11,22,3,45], name = 'apple',
                  index = ['a','b','xs','el1'])
new_sr

a      11
b      22
xs      3
el1    45
Name: apple, dtype: int64